.sidebar{
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    /* font-size: 100%; */
}

.sidebar a{
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.current{
    background-color: darkgreen;
    color: white;
}

.done{
    background-color: green;
    color: white;
}


.sidebar a.active{
    /* background-color: darkgreen; */
    color: grey;
}

.sidebar a:hover:not(.active){
    background-color: #555;
    color: white;
}

div.content{
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

.disabled{
    pointer-events: none;
    cursor: default;
    background-color: rgb(66, 66, 66);
    color: darkslategrey;
    
}
